:root[data-theme="blue-light-filter"] {
  background-color: rgb(var(--color-yellow-50));
  color: rgb(var(--color-yellow-950));
  font-family: 'Merriweather', 'Crimson Pro', Georgia, serif;
  line-height: 1.8;
  --tw-prose-body: rgb(var(--color-yellow-950));
  --tw-prose-headings: rgb(var(--color-yellow-950));
  --tw-prose-lead: rgb(var(--color-yellow-800));
  --tw-prose-links: rgb(var(--color-orange-600));
  --tw-prose-bold: rgb(var(--color-yellow-950));
  --tw-prose-counters: rgb(var(--color-yellow-800));
  --tw-prose-bullets: rgb(var(--color-yellow-800));
  --tw-prose-hr: rgb(var(--color-gray-300));
  --tw-prose-quotes: rgb(var(--color-amber-900));
  --tw-prose-quote-borders: rgb(var(--color-amber-500));
  --tw-prose-captions: rgb(var(--color-yellow-800));
  --tw-prose-code: rgb(var(--color-yellow-950));
  --tw-prose-pre-code: rgb(var(--color-yellow-950));
  --tw-prose-pre-bg: rgb(var(--color-yellow-100));
  --tw-prose-th-borders: rgb(var(--color-gray-300));
  --tw-prose-td-borders: rgb(var(--color-gray-300));
  --tw-prose-invert-body: rgb(var(--color-gray-200));
  --tw-prose-invert-headings: rgb(var(--color-white));
  --tw-prose-invert-lead: rgb(var(--color-gray-300));
  --tw-prose-invert-links: rgb(var(--color-blue-400));
  --tw-prose-invert-bold: rgb(var(--color-white));
  --tw-prose-invert-counters: rgb(var(--color-gray-400));
  --tw-prose-invert-bullets: rgb(var(--color-gray-400));
  --tw-prose-invert-hr: rgb(var(--color-gray-700));
  --tw-prose-invert-quotes: rgb(var(--color-gray-300));
  --tw-prose-invert-quote-borders: rgb(var(--color-gray-600));
  --tw-prose-invert-captions: rgb(var(--color-gray-400));
  --tw-prose-invert-code: rgb(var(--color-gray-200));
  --tw-prose-invert-pre-code: rgb(var(--color-gray-200));
  --tw-prose-invert-pre-bg: rgb(var(--color-gray-900));
  --tw-prose-invert-th-borders: rgb(var(--color-gray-700));
  --tw-prose-invert-td-borders: rgb(var(--color-gray-700));
}
