:root[data-theme="green-terminal"] {
  background-color: rgb(var(--color-gray-950));
  color: rgb(var(--color-green-400));
  font-family: 'JetBrains Mono', 'Fira Code', 'Courier Prime', monospace;
  line-height: 1.5;
  --tw-prose-body: rgb(var(--color-green-400));
  --tw-prose-headings: rgb(var(--color-green-400));
  --tw-prose-lead: rgb(var(--color-green-300));
  --tw-prose-links: rgb(var(--color-cyan-400));
  --tw-prose-bold: rgb(var(--color-green-400));
  --tw-prose-counters: rgb(var(--color-green-300));
  --tw-prose-bullets: rgb(var(--color-green-300));
  --tw-prose-hr: rgb(var(--color-green-900));
  --tw-prose-quotes: rgb(var(--color-green-300));
  --tw-prose-quote-borders: rgb(var(--color-green-400));
  --tw-prose-captions: rgb(var(--color-green-300));
  --tw-prose-code: rgb(var(--color-green-400));
  --tw-prose-pre-code: rgb(var(--color-green-400));
  --tw-prose-pre-bg: rgb(var(--color-black));
  --tw-prose-th-borders: rgb(var(--color-green-900));
  --tw-prose-td-borders: rgb(var(--color-green-900));
  --tw-prose-invert-body: rgb(var(--color-gray-200));
  --tw-prose-invert-headings: rgb(var(--color-white));
  --tw-prose-invert-lead: rgb(var(--color-gray-300));
  --tw-prose-invert-links: rgb(var(--color-blue-400));
  --tw-prose-invert-bold: rgb(var(--color-white));
  --tw-prose-invert-counters: rgb(var(--color-gray-400));
  --tw-prose-invert-bullets: rgb(var(--color-gray-400));
  --tw-prose-invert-hr: rgb(var(--color-gray-700));
  --tw-prose-invert-quotes: rgb(var(--color-gray-300));
  --tw-prose-invert-quote-borders: rgb(var(--color-gray-600));
  --tw-prose-invert-captions: rgb(var(--color-gray-400));
  --tw-prose-invert-code: rgb(var(--color-gray-200));
  --tw-prose-invert-pre-code: rgb(var(--color-gray-200));
  --tw-prose-invert-pre-bg: rgb(var(--color-gray-900));
  --tw-prose-invert-th-borders: rgb(var(--color-gray-700));
  --tw-prose-invert-td-borders: rgb(var(--color-gray-700));
}
