:root[data-theme="high-contrast"] {
  background-color: rgb(var(--color-white));
  color: rgb(var(--color-black));
  font-family: 'Open Sans', 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.8;
  font-weight: 500;
  --tw-prose-body: rgb(var(--color-black));
  --tw-prose-headings: rgb(var(--color-black));
  --tw-prose-lead: rgb(var(--color-black));
  --tw-prose-links: rgb(var(--color-blue-600));
  --tw-prose-bold: rgb(var(--color-black));
  --tw-prose-counters: rgb(var(--color-black));
  --tw-prose-bullets: rgb(var(--color-black));
  --tw-prose-hr: rgb(var(--color-black));
  --tw-prose-quotes: rgb(var(--color-black));
  --tw-prose-quote-borders: rgb(var(--color-black));
  --tw-prose-captions: rgb(var(--color-black));
  --tw-prose-code: rgb(var(--color-black));
  --tw-prose-pre-code: rgb(var(--color-black));
  --tw-prose-pre-bg: rgb(var(--color-gray-200));
  --tw-prose-th-borders: rgb(var(--color-black));
  --tw-prose-td-borders: rgb(var(--color-black));
  --tw-prose-invert-body: rgb(var(--color-gray-200));
  --tw-prose-invert-headings: rgb(var(--color-white));
  --tw-prose-invert-lead: rgb(var(--color-gray-300));
  --tw-prose-invert-links: rgb(var(--color-blue-400));
  --tw-prose-invert-bold: rgb(var(--color-white));
  --tw-prose-invert-counters: rgb(var(--color-gray-400));
  --tw-prose-invert-bullets: rgb(var(--color-gray-400));
  --tw-prose-invert-hr: rgb(var(--color-gray-700));
  --tw-prose-invert-quotes: rgb(var(--color-gray-300));
  --tw-prose-invert-quote-borders: rgb(var(--color-gray-600));
  --tw-prose-invert-captions: rgb(var(--color-gray-400));
  --tw-prose-invert-code: rgb(var(--color-gray-200));
  --tw-prose-invert-pre-code: rgb(var(--color-gray-200));
  --tw-prose-invert-pre-bg: rgb(var(--color-gray-900));
  --tw-prose-invert-th-borders: rgb(var(--color-gray-700));
  --tw-prose-invert-td-borders: rgb(var(--color-gray-700));
}
