:root[data-theme="paper-print"] {
  background-color: rgb(var(--color-stone-50));
  color: rgb(var(--color-stone-900));
  font-family: 'Merriweather', 'Lora', 'Crimson Text', Georgia, serif;
  line-height: 1.7;
  --tw-prose-body: rgb(var(--color-stone-900));
  --tw-prose-headings: rgb(var(--color-stone-900));
  --tw-prose-lead: rgb(var(--color-stone-600));
  --tw-prose-links: rgb(var(--color-blue-800));
  --tw-prose-bold: rgb(var(--color-stone-900));
  --tw-prose-counters: rgb(var(--color-stone-600));
  --tw-prose-bullets: rgb(var(--color-stone-600));
  --tw-prose-hr: rgb(var(--color-stone-400));
  --tw-prose-quotes: rgb(var(--color-stone-700));
  --tw-prose-quote-borders: rgb(var(--color-stone-500));
  --tw-prose-captions: rgb(var(--color-stone-600));
  --tw-prose-code: rgb(var(--color-stone-900));
  --tw-prose-pre-code: rgb(var(--color-stone-900));
  --tw-prose-pre-bg: rgb(var(--color-white));
  --tw-prose-th-borders: rgb(var(--color-stone-400));
  --tw-prose-td-borders: rgb(var(--color-stone-400));
  --tw-prose-invert-body: rgb(var(--color-gray-200));
  --tw-prose-invert-headings: rgb(var(--color-white));
  --tw-prose-invert-lead: rgb(var(--color-gray-300));
  --tw-prose-invert-links: rgb(var(--color-blue-400));
  --tw-prose-invert-bold: rgb(var(--color-white));
  --tw-prose-invert-counters: rgb(var(--color-gray-400));
  --tw-prose-invert-bullets: rgb(var(--color-gray-400));
  --tw-prose-invert-hr: rgb(var(--color-gray-700));
  --tw-prose-invert-quotes: rgb(var(--color-gray-300));
  --tw-prose-invert-quote-borders: rgb(var(--color-gray-600));
  --tw-prose-invert-captions: rgb(var(--color-gray-400));
  --tw-prose-invert-code: rgb(var(--color-gray-200));
  --tw-prose-invert-pre-code: rgb(var(--color-gray-200));
  --tw-prose-invert-pre-bg: rgb(var(--color-gray-900));
  --tw-prose-invert-th-borders: rgb(var(--color-gray-700));
  --tw-prose-invert-td-borders: rgb(var(--color-gray-700));
}
