:root[data-theme="solarized-dark"] {
  background-color: rgb(var(--color-slate-900));
  color: rgb(var(--color-slate-400));
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.6;
  --tw-prose-body: rgb(var(--color-slate-400));
  --tw-prose-headings: rgb(var(--color-slate-400));
  --tw-prose-lead: rgb(var(--color-slate-500));
  --tw-prose-links: rgb(var(--color-cyan-500));
  --tw-prose-bold: rgb(var(--color-slate-400));
  --tw-prose-counters: rgb(var(--color-slate-500));
  --tw-prose-bullets: rgb(var(--color-slate-500));
  --tw-prose-hr: rgb(var(--color-slate-700));
  --tw-prose-quotes: rgb(var(--color-slate-500));
  --tw-prose-quote-borders: rgb(var(--color-slate-600));
  --tw-prose-captions: rgb(var(--color-slate-500));
  --tw-prose-code: rgb(var(--color-slate-400));
  --tw-prose-pre-code: rgb(var(--color-slate-400));
  --tw-prose-pre-bg: rgb(var(--color-slate-800));
  --tw-prose-th-borders: rgb(var(--color-slate-700));
  --tw-prose-td-borders: rgb(var(--color-slate-700));
  --tw-prose-invert-body: rgb(var(--color-slate-700));
  --tw-prose-invert-headings: rgb(var(--color-slate-700));
  --tw-prose-invert-lead: rgb(var(--color-slate-600));
  --tw-prose-invert-links: rgb(var(--color-blue-600));
  --tw-prose-invert-bold: rgb(var(--color-slate-700));
  --tw-prose-invert-counters: rgb(var(--color-slate-600));
  --tw-prose-invert-bullets: rgb(var(--color-slate-600));
  --tw-prose-invert-hr: rgb(var(--color-slate-400));
  --tw-prose-invert-quotes: rgb(var(--color-slate-600));
  --tw-prose-invert-quote-borders: rgb(var(--color-slate-500));
  --tw-prose-invert-captions: rgb(var(--color-slate-600));
  --tw-prose-invert-code: rgb(var(--color-slate-700));
  --tw-prose-invert-pre-code: rgb(var(--color-slate-700));
  --tw-prose-invert-pre-bg: rgb(var(--color-yellow-100));
  --tw-prose-invert-th-borders: rgb(var(--color-slate-400));
  --tw-prose-invert-td-borders: rgb(var(--color-slate-400));
}
